@import '../index.scss';

html {
    --cursor-color: #e0930d;
}
  
html.dark-mode {
    --cursor-color: #e0930d;
}

.ui.grid.content-rows-container {
    margin: 0;
    position: relative;
}

.intro-main-container {
    background: transparent;
}

.ui.grid>.row .intro-main-container {
    padding-top: 0;
}

.experience-row,
.experience-row-inverted {
    background: transparent;
}
.ui.header .sub.header>.sub-text-container {
    padding-top: 15px;
}

.ui.grid > .row.sub-row {
    padding: 6.5rem 0;
    min-height: 500px;
}

.ui.grid > .row.sub-row h1 {
    font-size: 3.5em;
}

.bold-text {
    font-weight: bold;
}

.education-row {
    background: transparent;
}

.education-row-inverted {
    background: $main-blue-dark;
}

.education-container {
    padding-top: 5em;
}

.content-row {
    background: transparent;
    position: relative;
}

%content-row-border {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 3px;
}

.content-row::before {
    @extend %content-row-border;
    background: linear-gradient(to right, transparent, $main-background-light, transparent);
}

.content-row-inverted::before {
    @extend %content-row-border;
    background: linear-gradient(to right, transparent, $main-background-dark-inverted, transparent);
}

@media screen and (max-width: 795px) {
    .skills-row,
    .skills-row-inverted {
        padding: 8rem 2rem 10rem 2rem !important;
    }
}

.skills-row-inverted {
    background: transparent;
}

.ui.fitted.toggle.checkbox.color-slider {   
    position: fixed;
    margin: 30px;
    bottom: 0;
    right: 0;
}

// .logo-text:hover {
//     color: darken($accent-blue, 10%);
// }

// .logo-text {
//     margin-left: 30px;
//     font-weight: 600;
//     position: relative;
//     display: inline-block;
//     font-size: 3em;
//     font-weight: bold;
//     padding: 20px;
//     color: $accent-blue;
// }

// .logo-text::before {
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;
//     border: 3px solid $accent-blue;
//     box-sizing: border-box;
//     animation: draw-border 2.5s ease-out;
// }

// @keyframes draw-border {
//     0% {
//         width: 0;
//         height: 0;
//         border-width: 3px 0 0 3px;
//     }
//     25% {
//         width: 100%;
//         height: 0;
//         border-width: 3px 0 0 3px;
//     }
//     50% {
//         width: 100%;
//         height: 100%;
//         border-width: 3px 3px 0 3px;
//     }
//     75% {
//         width: 100%;
//         height: 100%;
//         border-width: 3px 3px 3px 3px;
//     }
//     100% {
//         width: 100%;
//         height: 100%;
//         border-width: 3px 3px 3px 3px;
//     }
// }



.landing-container {
    position: relative;
}

.landing-content {
    position: absolute;
}

.fade-in {
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}
  
  .fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.header-row {
    background: transparent;
}

.nav-container {
    padding-bottom: 0;
    padding-right: 2rem;
}

