@import '../index.scss';

.top-nav-link {
    height: 100%;
    text-align: center;
    transition: opacity 0.5s ease !important;
}

.item-text-container {
    display: flex;
    align-items: center;
}

.item-number {
    color: $accent-blue;
}

.ui.inverted.menu a.top-nav-link.item:hover,
.ui.menu a.top-nav-link.item:hover {
    background: transparent;
}

.ui.menu.top-nav-static {
    height: 75px;
    transition: margin 0.5s ease, background 0.5s ease, box-shadow 0.5s ease, border 0.5s ease;
    justify-content: center;
    background: transparent;
    margin-bottom: 0;
}

.ui.menu .active.item.top-nav-link,
.ui.menu .active.item.top-nav-link:hover {
    background: transparent;
    pointer-events: none;
}

.top-nav-link-text {
    display: block;
    position: relative;
    padding: .45em 0;
    color: $main-background-light;
}

.top-nav-link-text:hover {
    cursor: none;
    color: $accent-blue;
}

@media screen and (max-width: 795px) {
    .top-nav-link:hover {
        background: transparent !important;
    }
}

.dimmed {
    opacity: 0.75; 
    transition: opacity 0.3s ease;
}

.light-mode-icon {
    transform: scaleX(-1);
}

.dark-mode-icon {
    transform: scaleX(1);
}

.top-nav-static-inverted .top-nav-link-text {
    color: $main-background-dark-inverted;
}

.top-nav-link-text-inverted:hover {
    color: $accent-blue;
}
