@import '../../index.scss';

.ui.header.section-header {
    position: relative;
    color: $main-background-light;
    position: relative;
    display: inline-block;
    margin-bottom: 15px !important;
}

.ui.header.section-header-inverted {
    color: $main-background-dark-inverted;
}

.ui.header.section-header::before,
.ui.header.section-header::after {
    display: inline-block;
    content: "";
    border-top: 1px solid $accent-blue;
    width: 4rem;
    margin: 0 1rem;
    transform: translateY(-1rem);
}