@import '../../index.scss';

.ui.header.section-header {
    position: relative;
    color: $main-background-light;
    position: relative;
    display: inline-block;
    margin-bottom: 15px !important;
}

.ui.header.section-header-inverted {
    color: $main-background-dark-inverted;
}

.section-header::after {
    content: "";
    position: absolute;
    bottom: 4.5px; 
    left: -5px; 
    width: calc(100% + 10px);
    height: 11px; 
    background-color: $accent-blue;
    z-index: -1;
  }