@import '../../index.scss';

%logo-styles {
    font-weight: 600;
    position: relative;
    display: inline-block;
    font-size: 3em;
    font-weight: bold;
    padding: 20px;
    color: $accent-blue;
}

.logo-text-clickable {
    margin-left: .5em; 
}

.logo-text-clickable,
.logo-text-static {
    @extend %logo-styles;
}

%logo-border {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.logo-text-static::before {
    @extend %logo-border;
}

.logo-text-clickable::before {
    @extend %logo-border;
    border: 3px solid $main-background-light;
}


.logo-text-clickable-inverted::before {
    @extend %logo-border;
    border: 3px solid $main-background-dark-inverted;
}

.logo-text-clickable:hover {
    background: $main-background-light;
}

.logo-text-clickable-inverted:hover {
    background: $main-background-dark-inverted;
}

.logo-text-clickable:hover::before{
    border: 3px solid $accent-blue;
}

.footer-logo {
    border: 3px solid $main-background-dark-inverted;
    color: $main-background-dark-inverted;
}

.bottom-nav-container-inverted .footer-logo {
    border: 3px solid $main-background-light;
    color: $main-background-light;
}