@import '../index.scss';

.email-link:hover {
    font-weight: bold;
}

.ui.grid>.row.contact-icons-row {
    margin-top: 2em;
}

.ui.list.contact-icons-list-container {
    margin-top: .25em;
}

i.icon.contact-link {
    font-size: 1.5em;
}

.bottom-nav-container {
    margin-top: 0 !important;
    padding-top: 1em;
    background: $main-background-light;
}

.bottom-nav-container-inverted {
    background: $main-background-dark;
}


.bottom-nav-container-inverted .ui.header.footer-header {
    color: $main-blue-dark;
}

.bottom-nav-container-inverted .contact-link {
    color: $main-orange-dark;
}

.bottom-nav-container-inverted .email-link,
.bottom-nav-container-inverted .copyright-text {
    color: $main-blue-light;
}

.ui.grid>.column:not(.row).scroll-up-botton-container {
    padding-bottom: 4em !important;
}

.contact-links-container {
    padding: 0 !important;
    margin-top: 4em;
}

.copyright-text {
    padding-bottom: 6em !important;
}

.ui.list>a.item i.icon.contact-link-icon {
    color: $accent-blue;
}

.contact-link-text {
    color: $main-background-dark-inverted;
}

.contact-link-text-inverted,
.bottom-nav-container-inverted .copyright-text {
    color: $main-background-light;
}

.contact-link-text:hover {
    color: $accent-blue;
}

@media only screen and (max-width: 767px) {
    .contact-links-container {
        padding: 0 !important;
        margin-top: 3em;
    }

    .copyright-text {
        padding-bottom: 4em !important;
    }
}