@import '../index.scss';

$explore-button-dark: darken($main-background-dark-inverted, 5%);

.intro-container {
    height: calc(100vh - 103px);
    min-height: 700;
    padding: 15vh 0;
}
 
.intro-main-text {
    font-size: 2.75em;
    color: $main-background-light;
}

.intro-sub-text {
    font-size: 1.5em;
}

.intro-sub-text-mobile {
    font-size: 1.25em;
}

.intro-sub-text,
.intro-sub-text-mobile {
    color: $main-background-light-secondary;
}

.ui.inverted.button.explore-button {
    color: $accent-blue !important;
    box-shadow: 0 0 0 2px $main-background-light inset !important;
}

.ui.inverted.button.explore-button:hover,
.ui.inverted.button.explore-button:focus,
.ui.inverted.button.explore-button:visited {
    background: $main-background-light;
    box-shadow: 0 0 0 2px $main-background-light inset !important;
}

.ui.inverted.button.explore-button-inverted {
    background: $neutral-white;
    color: $accent-blue !important;
    box-shadow: 0 0 0 2px $explore-button-dark inset !important;
}

.ui.inverted.button.explore-button-inverted:hover,
.ui.inverted.button.explore-button-inverted:focus,
.ui.inverted.button.explore-button-inverted:visited {
    box-shadow: 0 0 0 2px $explore-button-dark inset !important;
    background: $explore-button-dark;
}

.ui.inverted.button.explore-button-inverted:focus,
.ui.inverted.button.explore-button-inverted:visited {
    box-shadow: 0 0 0 2px $explore-button-dark inset !important;
    background: $explore-button-dark;
}

.ui.inverted.button.explore-button-intro {
    margin-top: 2em;
}

.background-container{
    position: fixed;
    top: 0;
    left:0;
    bottom: 0;
    right: 0;
}

.inverted-dark-text {
    color: $main-background-dark-inverted;
}

.intro-sub-text-inverted {
    color: $main-background-dark-inverted-secondary;
}

.intro-main-header-container {
    margin-bottom: 30px;
}
  
.ui.header:last-child.intro-main-header {
    margin: calc(2rem - .14285714em) 0 1rem;
}

.intro-main-text-mobile {
    font-size: 2.25em;
}

.intro-sub-text-mobile {
    font-size: 1em;
}

.intro-main-container-mobile .ui.header:last-child.intro-main-subheader {
    margin: 0;
}